# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*.ipynb

# PyCharm
.idea/

# VS Code
.vscode/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# pipenv
Pipfile.lock

# dotenv
.env
.env.*

# Unit test / test output
test-results/
junit.xml

# Logs
*.log

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# data and notebooks 
data/
logs/
notebooks/
archive/
jobs/

# API keys and secrets
*.key


archive/
corpus_datasets/
run_output/
script_logging/
qrel_logging/
_figs/